@model reservations_web.Models.Rooms.MiniatureRoomViewModel

<div class="card room-miniature">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.ShortenedDescription</p>
        <a asp-controller="Reservation" asp-action="Create" asp-route-id="@Model.RoomId">Book now!</a>
    </div>
</div>