@model reservations_web.Models.Reservation.ReservationPreparationViewModel  

@{
    ViewBag.Title = "Customer details";
    Layout = "_Layout";
}

Booking room: NAME on @Model.Date.ToString("M/d/yy") @Model.From.ToString("h\\:m")

<form>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Note</label>
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="text-right">
        <input type="submit" value="Create booking" class="btn btn-primary"/>
    </div>
</form>